.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 15px;
}

.photo {
  max-width: 50%;
  padding: 0 10px;
  height: 240px;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.rowD {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 75px;
}

.imageClass {
  margin-left: 25px;
}

.Formstyling {
  border: 10px coral solid;
  padding: 5px;
  margin: auto;
  width: 300px;
  background-color: antiquewhite;

}

ul.b {
  list-style-type: square;
  font-size: larger;
  font-style: oblique;
}

.images:hover {
  -webkit-transform: scaleX(1.2);
  transform: scale(1.2);


}

body {
  background-color: burlywood;
}