.headerclass {
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 15px;
    align-items: center;
}

.section_s1 {
    width: 25%;
    height: 70%;
    justify-content: space-around;
}

.image-card {
    display: flex;
    align-items: center;
}

.image-card>img {
    width: 35%;
}

.section_s2 {

    height: 100%;
    width: 55%;
    margin-left: 15px;
    align-items: center;
}

.searchbox {
    height: 100%;
    width: 70%;
    border-radius: 95%;
}

.section_s2>.searchbox>input {
    height: 95%;
    width: 90%;
    border-radius: 8px;
    outline: none;
    border-color: grey;
    border-radius: 10px;
}

.section_s2>.searchbox>button {
    border-radius: 75%;
    border: none;
    height: 100%;
    width: 25px;
}

.section_s2> {
    border-radius: 75%;
    border-left: none;
    border: grey;
    height: 100%;
    width: 25px;
}

.section_s3 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}
.section_s3>i {
    margin-left: 20px;
}