.maindivclass {
    height: 90%;
    width: 85%;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
}

.list_items {

    list-style-type: none;

    padding: 5px;
    margin: 20px;
    border: none;
    overflow: hidden;
}

.list_items>li {

    padding: 10px;
    margin-right: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    display: inline-flex;
}

.list_items>li:hover {
    background-color: black;
    color: white;
}

.poster {
    position: relative;
    text-align: left;
    width: 310px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.poster:hover .hoverPlay {
    opacity: 1;
    width: 32%;
    top: 5%;
    left: 34%;
}

.poster:hover .myImg {
    width: 110%;

}

.myImg {
    width: 100%;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
}

.hoverPlay {
    position: absolute;
    width: 28%;
    top: 7%;
    left: 36%;
    transition: 0.3s;
    opacity: 0;
}

.description {

    padding: 10px;
}

.description>p {
    text-align: justify;
}

.rowClass {
    height: 85%;
    width: 100%;
    margin-left: 8px;

    margin-right: 20px;
    align-content: center;
    height: 75%;
    display: inline-flex;
    flex: auto;
    flex-flow: wrap;

}